/* Fonts and colors and strucure for the first part */

body{
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
}

.first{
    height: 400px;
    background-color: #1F2937;
}

.hero  h1{
    font-size: 48px;
    color: #FAF9F8;
    font-weight: 900;
}

.first .header .links a, .hero  p{
    font-size: 18px;
    color: #E5E7EB;
}

.first .header .logo{
    font-size: 24px;
    color: #FAF9F8;
}

.hero button{
    background-color: #3882F6;
    font-size: 18px;
    font-weight: 700;
    color: #FAF9F8;
    padding: 8px 32px;
    border-radius: 8px;
    border: none;
}

.first .hero .image{
    height: 225px;
    width: 450px;
    background-color: gray;
}

.first .hero .image p{
   font-size: 18px; 
   color: #E5E7EB;
}


/* flexing and placing things for first part */

.first{
    padding: 0 290px;
}

.first .header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
}

.first .links{
    display: flex;
    gap: 16px;
}

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero .text .main-text, .hero .text p{
    margin-bottom: 8px;
    margin-top: 0;
}

.hero .text{
    max-width: 400px;
}

.first .hero .image{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Fonts, colors and strucure for the second part */

.second{
    height: 360px;
    background-color: white;
}

.second h1{
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
}

.second .boxes .unit div{
    width: 130px;
    height: 130px;
    border: 4px solid #3882F6;
    border-radius: 10px;
}

/* flexing and placing things for second part */

.second {
    text-align: center;
    padding: 0 400px;
}
.second h1{
    margin-bottom: 40px;
}

.second .boxes{
    display: flex;
    justify-content: space-between;
    gap: none;
}

.second .boxes .unit p{
    max-width: 130px;
}

/* Fonts, colors and strucure for the third part */

.third{
    height: 250px;
    background-color: #E5E7EB;
}

.third p{
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
}

.third div{
    font-size: 22px;
    font-weight: 900;
}

/* flexing and placing things for the third part */

.third{
    padding: 70px 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.third p{
    margin-bottom: 0;
    margin-top: 0;
    min-width: 780px;
}

.third div{
    align-self: flex-end;
}

/* Fonts, colors and strucure for the fourth part */

.fourth{
    height: 300px;
}

.fourth div{
    height: 120px;
    background-color: #3882F6;
    border-radius: 10px;
}

/* flexing and placing things for the fourth part */

.fourth{
    display: flex;
    justify-content: center;
    align-items: center;
}

.fourth .content{
    width: 932px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.fourth .content .left h2{
    font-size: 20px;
    color: #FAF9F8;   
    margin-bottom: 0;
    margin-top: 32px;
}

.fourth .content .left p{
    font-size: 18px; 
    color: #E5E7EB;
    margin-top: 0;
}

.fourth .content button{
    font-size: 18px;
    font-weight: 700;
    color: #FAF9F8;
    background-color: #3882F6;
    padding: 6px 32px;
    border: 2px solid white;
    border-radius: 8px;
}

/* footer */
.footer{
    height: 76px;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer p{
    color: #FAF9F8;
}

