/* Fonts and colors and strucure */

body{
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
}

.first{
    height: 400px;
    background-color: #1F2937;
}

.hero  h1{
    font-size: 48px;
    color: #FAF9F8;
    font-weight: 900;
}

.first .header .links a, .hero  p{
    font-size: 18px;
    color: #E5E7EB;
}

.first .header .logo{
    font-size: 24px;
    color: #FAF9F8;
}

.hero button{
    background-color: #3882F6;
    font-size: 18px;
    font-weight: 700;
    color: #FAF9F8;
    padding: 8px 32px;
    border-radius: 8px;
    border: none;
}

.first .hero .image{
    height: 225px;
    width: 450px;
    background-color: gray;
}

.first .hero .image p{
   font-size: 18px; 
   color: #E5E7EB;
}


/* flexing and placing things */
/* body{
    display: flex;
    flex-direction: column;
} */

.first{
    padding: 0 290px;
}

.first .header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
}

.first .links{
    display: flex;
    gap: 16px;
}

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero .text .main-text, .hero .text p{
    margin-bottom: 8px;
    margin-top: 0;
}

.hero .text{
    max-width: 400px;
}

.first .hero .image{
    display: flex;
    justify-content: center;
    align-items: center;
}
